@import "tailwindcss";

@theme {
  --font-oldstandard: var(--font-old-standard);
  --font-geistsans: var(--font-geist-sans);
  --font-geistmono: var(--font-geist-mono);
  --font-baloo: var(--font-baloo2);
  --font-comorantInfant: var(--font-comorant-infant)
}